<br><br>
<!-- // Profiles  -->
<br><br>
<hr>
<div class="year">PROFILES</div>
<hr>
<br><br>
<!-- // Profiles -->

<div class="profiles">
  <a href="https://bencasalino.com" target="_blank">Portfolio</a>
  <!-- <a href="https://bencasalino.com" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Portfolio Website"></a> -->
  <br><br>
  <a href="https://www.linkedin.com/in/bencasalino/" target="_blank">LinkedIn Profile</a>
  <!-- <a href="https://www.linkedin.com/in/bencasalino/" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino LinkedIn Profile"></a> -->
  <br><br>
  <a href="mailto:bencasalino@gmail.com" target="_blank">Email</a>
  <!-- <a href="mailto:bencasalino@gmail.com" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Email"></a> -->
  <br><br>
  <a href="https://github.com/bencasalino" target="_blank">Github</a>
  <!-- <a href="https://github.com/bencasalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Github Account"></a> -->
  <br><br>
  <a href="https://stackoverflow.com/users/5225450/ben-casalino" target="_blank">Stack Overflow</a>
  <!-- <a href="https://stackoverflow.com/users/5225450/ben-casalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino StackOverflow Profile"></a> -->
  <br><br>
  <a href="https://dribbble.com/bencasalino" target="_blank">Dribbble</a>
  <!-- <a href="https://dribbble.com/bencasalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Dribble Profile"></a> -->
  <br><br>
  <a href="https://www.freecodecamp.org/bencasalino" target="_blank">FreeCodeCamp</a>
  <!-- <a href="https://www.freecodecamp.org/bencasalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino FreeCodeCamp Profile"></a> -->
  <br><br>
  <a href="https://talent.galvanize.com/students/2070/jobs" target="_blank">Galvanize Talent</a>
  <!-- <a href="https://talent.galvanize.com/students/2070/jobs" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Galvanize Talent Profile"></a> -->
  <br><br>
  <a href="https://docs.google.com/document/d/1M2Kbg8bKQ5oYH5Y9BeNV2zSEtaKQt8x-qlGmOWLMzSo/edit?usp=sharing" target="_blank">Resume
    via Google Drive</a>
  <!-- <a href="https://docs.google.com/document/d/1M2Kbg8bKQ5oYH5Y9BeNV2zSEtaKQt8x-qlGmOWLMzSo/edit?usp=sharing" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Resume via Google Drive"></a> -->
  <br><br>
  <a href="https://www.instagram.com/benoftheuniverse/" target="_blank">Instagram</a>
  <!-- <a href="https://www.instagram.com/benoftheuniverse/" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Instagram"></a> -->
  <br><br>
  <a href="https://www.builtincolorado.com/member/bencasalino/65239" target="_blank">Built in Colorado</a>
  <!-- <a href="https://www.builtincolorado.com/member/bencasalino/65239" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Built in Colorado Profile"></a> -->
  <br><br>
  <a href="https://trailhead.salesforce.com/en/me/00550000008DvVdAAK" target="_blank">Trailhead Profile</a>
  <!-- <a href="https://trailhead.salesforce.com/en/me/00550000008DvVdAAK" target="_blank"><img src="https://via.placeholder.com/50" alt="Trailhead Profile"></a> -->
  <br><br>
  <a href="http://certifications.digitalmarketer.com/bencasalino/" target="_blank">DigitalMarketer Certifications</a>
  <!-- <a href="http://certifications.digitalmarketer.com/bencasalino/" target="_blank"><img src="https://via.placeholder.com/50" alt="Digital Marketer Certifications"></a> -->
  <br><br>




</div>

</div>






<!-- <div class="year">2014</div> -->
<!-- <div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div> -->
<!-- <div class="event">EDUCATION - BOOTSTRAP/FOUNDATION</div> -->
<!-- <div class="event">EDUCATION - WORDPRESS</div> -->
<!-- <div class="year">2013</div> -->
<!-- <div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div> -->
<!-- <div class="event">PROJECT - PTOE</div> -->
<!-- <div class="event">PROJECT - BSFB</div> -->
<!-- <div class="event">EDUCATION - ABELTON</div> -->
<!-- <div class="year">2012</div> -->
<!-- <div class="event">EDUCATION - HTML/SCC + DREAMWEAVER</div> -->
<!-- <div class="event">EDUCATION - ABELTON, LOGIC PRO</div> -->
<!-- <div class="event">MOVE - PORTLAND</div>
    <div class="year">2011</div>
    <div class="event">CONFERENCE - WORDCAMP PHOENIX 11- FEB</div> -->
<!-- <div class="event">WORK - YCOA </div>
    <div class="year">2010 & BEFORE</div>
    <div class="event">CONFERENCE - WORDCAMP PHOENIX 10 - FEB</div>
    <div class="event">PROJECT - PHOENIX SUNS FREE THROW</div>
    <div class="event">EDUCATION - ARIZONA STATE - GRAPHIC DESIGN</div>
    <div class="event">EDUCATION - SCC - AUDIO PRODUCTION TECHNOLOGY</div>
    <div class="event">EDUCATION - SCC - MEN'S SOCCER </div>
    <div class="event">SAN MARINO CUP - ITALY </div>
    <div class="event">ARIZONA</div> -->

<!-- <div class="event">CONFERENCE - DENVER START UP WEEK 2018</div> -->
<!-- <div class="event">EDUCATION - TRAILHEAD/SALESFORCE - JUNE</div>
    <div class="event">PROJECT - RMCUP API - MAY </div>
    <div class="event">EDUCATION - GALVANIZE - GRADUATION - APRIL </div>
    <div class="event">PROJECT - CSG CAPSTONE - MARCH</div>
    <div class="event">PROJECT - SOCIAL CLOUD - FEB</div>
    <div class="event">PROJECT - SFDOC - JAN</div>

    <div class="year"><strong></strong></div>
    <div class="event">PROJECT - PIANO JS - DEC</div>
    <div class="event">PROJECT - TF - NOV</div>
    <div class="event">EDUCATION - GALVANIZE WDI OCT</div>
    <div class="event">CONFERENCE - DENVER START UP WEEK 2017</div>
    <div class="event">CONFERENCE - DM SUMMIT - MAR</div>

    <div class="year">2016</div>
    <div class="event">CONFERENCE - DENVER START UP WEEK 2016</div>
    <div class="event">WORK - CLYMB DIGITAL MARKETING OCT</div>
    <div class="event"> COLORADO</div>
    <div class="event">WORK - WACOM AMERICAS JUNE</div>
    <div class="event">WORK - PLUS QA - MAR</div>
    <div class="event">WORK - MULTNOMAH COUNTY - JAN</div>

    <div class="year">2015</div>
    <div class="event">PROJECT - DAILY TACO - NOV</div>
    <div class="event">PROJECT - WIW - NOV</div>
    <div class="event">EDUCATION - EPICODUS</div>
    <div class="event">PROJECT - BENOFTHEUNIVERSE</div>

    <div class="year">2014</div>
    <div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div>
    <div class="event">EDUCATION - BOOTSTRAP/FOUNDATION</div>
    <div class="event">EDUCATION - WORDPRESS</div>

    <div class="year">2013</div>
    <div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div>
    <div class="event">PROJECT - PTOE</div>
    <div class="event">PROJECT - BSFB</div>
    <div class="event">EDUCATION - ABELTON</div>

    <div class="year">2012</div>
    <div class="event">EDUCATION - HTML/SCC + DREAMWEAVER</div>
    <div class="event">EDUCATION - ABELTON, LOGIC PRO</div>
    <div class="event">MOVE - PORTLAND</div>

    <div class="year">2011</div>
    <div class="event">CONFERENCE - WORDCAMP PHOENIX 11- FEB</div>
    <div class="event">WORK - CASALINO CHIRO SOCIAL MEDIA</div>
    <div class="event">WORK - YCOA </div>

    <div class="year">2010 & BEFORE</div>
    <div class="event">CONFERENCE - WORDCAMP PHOENIX 10 - FEB</div>
    <div class="event">PROJECT - PHOENIX SUNS FREE THROW</div>
    <div class="event">EDUCATION - ARIZONA STATE - GRAPHIC DESIGN</div>
    <div class="event">EDUCATION - SCC - AUDIO PRODUCTION TECHNOLOGY</div>
    <div class="event">EDUCATION - SCC - MEN'S SOCCER </div>
    <div class="event">SAN MARINO CUP - ITALY </div>
    <div class="event">ARIZONA</div> -->




<template>

  <div id="container">
    <!-- // 2019  -->
    <!-- <br><br>
<hr>
<div class="year">2019</div>
<hr>
<br><br> -->
    <!-- // 2019 -->

    <!-- // 2018  -->
    <br><br>
    <hr>
    <div class="year">2018</div>
    <hr>
    <br><br>
    <!-- // 2018 -->
    <div class="wrapper">
      <div class="work-header">
        <div class="icon"><a href="#" target="_blank"><img src="https://via.placeholder.com/50" alt="Vail Resorts"></a></div>
        <div class="company">Vail Resorts</div>
        <div class="location">Broomfield, CO</div>
        <div class="title">Email Marketing Specialist</div>
        <div class="dates">July 2018 - Present</div>
        <div class="technologies"><span class="technology-title">Technologies:</span> Salesforce, Marketing Cloud,
          ExactTarget, Visualforce Pages, Apex, Return Path, Atlassian, JIRA, Confluence, Cerberus, AMPScript, HTML5,
          CSS3, XML, JavaScript</div>
        <div class="work-body">
          &bull; Responsible for designs and content creation of HTML5, XML, CSS3 responsive email templates for
          marketing campaigns.<br><br>
          &bull; Proficiency with Salesforce Marketing Cloud specifically with Exact Target and AMPScript/XML. <br><br>
          &bull; Collecting relevant Salesforce Data Extensions information for improving campaign strategy. <br><br>
          &bull; Creating Email with mobile friendly responsive patterns and dynamic content. <br><br>
          &bull; Experience porting templates from Cerberus to ExactTarget. <br><br>
          &bull; Track and analyze direct/interactive marketing campaigns reporting. <br><br>
          &bull; Coordinate and monitor the maintenance, integrity, and security of several databases. <br><br>
          &bull; Develop list segmentation for all direct and interactive marketing campaigns and communicate
          requirements for the database. <br><br>
          &bull; Responsible for Email related QA,Proofreading for clarity, grammar, and spelling and copy differences.
          <br><br>
          &bull; Build and maintain Style Guides via Atlassian Confluence and present workflow diagrams for improving
          efficiency/automations. <br><br>
          &bull; Created Knowledge base of Salesforce terms precisely for non developer/technical team members to help
          bridge gaps in understanding. <br><br>
        </div>
      </div>
    </div>

    <br><br>
    <div class="project">
      <div class="project-title">
        Salesforce Trailhead Badges & Points
      </div>
      <div class="project-date">June 2018 - Present</div>
      <div class="project-icon"><a href="https://trailhead.salesforce.com/en/me/00550000008DvVdAAK">Trailhead Profile</a></div>
      <div class="project-info">
        Trailhead provides developers a guided, learning path through the key features of Salesforce, using a set of
        interactive, online tutorials. During the summer of 2018 I've been focusing on the foundations of AMPScript
        while learning Salesforce via Trailhead. I've completed over 14 Trails and 70 badges while accumating 23,000+
        points on the website. For a more deatailed breakdown of the skills I've gained please check out my profile <a
          href="https://trailhead.salesforce.com/en/me/00550000008DvVdAAK">here </a> and see my progess.
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> APMScript, Salesforce, Marketing
        Cloud, ExactTarget, Visualforce Pages & Apex,</div>
    </div>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        FreeCodeCamp - Responsive Web Design Certification
      </div>
      <div class="project-date">May - Present</div>
      <div class="project-icon"><a href="https://www.freecodecamp.org/bencasalino">Profile</a></div>
      <div class="project-info">
        FreeCodeCamp is a non-profit organization that consists of an interactive learning web platform for developers.
        Since joining in late 2017 I have obtained the <a href="#">Responsive Web Design Certification</a> After
        completeing this course my biggest takeaway is the importance of web accessibility which I plan to carry over
        into all future projects going forward. I'm also in the process of obtaining the <a href="https://www.freecodecamp.org/bencasalino">Javascript
          Algorithms And Data Structures Certification</a> & <a href="https://www.freecodecamp.org/bencasalino">Data
          Visualization</a> certifications next, you can follow my progess at the links above. </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> HTML5, CSS3, Media Queries, CSS
        Animations, Flexbox, Grid & Applied Accesibility</div>
    </div>
    <br><br>


    <br><br>
    <div class="project">
      <div class="project-title">
        Rocky Mountain Cup API
      </div>
      <div class="project-date">April 2018</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        The Rocky Mountain Cup is a soccer trophy contested between Real Salt Lake and the Colorado Rapids awarded once
        a year. I've created a public API/database to organize all the past associated game data.
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> Vue, HTML5, CSS3, SASS, JavaScript,
        Node.js, PostgreSQL & Knex</div>
    </div>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        Colorado Soccer Games
      </div>
      <div class="project-date">March 2018</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        Social Cloud Chrome Extension
      </div>
      <div class="project-date">February 2018</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        Soccer Field Directory of Colorado
      </div>
      <div class="project-date">January 2018</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>



    <!-- // 2017  -->
    <br><br>
    <hr>
    <div class="year">2017</div>
    <hr>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        Whear.com Hackathon
      </div>
      <div class="project-date">December 2017</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <div class="education">
      <div class="school">Galvanize</div>
      <div class="school-link">Image and Link</div>
      <div class="school-dates">October 2017 - April 2018</div>
      <div class="school-focus">Fullstack / JavaScript</div>
      <div class="school-info">desc</div>
    </div>


    <!-- // 2017 -->
    <div class="wrapper">
      <div class="work-header">
        <div class="icon"><a href="#" target="_blank"><img src="https://via.placeholder.com/50" alt="Clymb Digital Marketing"></a></div>
        <div class="company">Clymb Digital Marketing</div>
        <div class="location">Boulder, CO</div>
        <div class="title">Web Developer & Technical Support Manager </div>
        <div class="dates">October 2016 - October 2017</div>
        <div class="technologies"><span class="technology-title">Technologies:</span> Wordpress, Drupal, PHP, HTML5,
          CSS3, XML, JavaScript, jQuery, TeamWork, Marketo, MailChimp, Klaviyo, ActiveCampaign, LeadPages, Shopify,
          WooCommerce, Stripe, SamCart Trello, Zapier, Invision, UnBounce, Google Analytics, SEO, HubSpot, Typeform,
          Basecamp, Bootstrap, Google Materialize </div>
        <div class="work-body">
          &bull; Responsible for designs and content creation of HTML5 & CSS3 responsive email templates for marketing
          campaigns. <br><br>
          &bull; Executed client pre-made wireframes based on targeted demographics. <br><br>
          &bull; Managed support email for scheduling/fixing tickets and bugs. <br><br>
          &bull; Estimate and managed tickets responsibly across project timelines. <br><br>
          &bull; Setup click funnels/lead magnets and A/B testing strategies based on requirements.
          &bull; Installing accounts and setting up new clients in systems. <br><br>
          &bull; Updating plugins and migrations in developer environments. <br><br>
          &bull; Automating process to increase productivity via Zapier. <br><br>
          &bull; Became certified from DigitalMarketing.com. <br><br>
          &bull; Presented and taught clients how to update, blog, post and increase familiarity with the technology.
          <br><br>
          &bull; Implemented proper SEO and Analytics tracking for websites. <br><br>
          &bull; Launched sites upon completion and made updates via various web hosting companies. <br><br>
        </div>
      </div>
    </div>

    <br><br>
    <div class="project">
      <div class="project-title">
        DigitalMarketerHQ - Certifications
      </div>
      <div class="project-date">August - Present</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        desc
      </div>
      <!-- <div class="technologies"><span class="technology-title">Technologies:</span> Vue, HTML5, CSS3, SASS, JavaScript, Node.js, PostgreSQL & Knex</div> -->
    </div>
    <br><br>

    <!-- // 2016  -->
    <br><br>
    <hr>
    <div class="year">2016</div>
    <hr>
    <br><br>
    <!-- // 2016 -->


    <div class="wrapper">
      <div class="work-header">
        <div class="icon"><a href="#" target="_blank"><img src="https://via.placeholder.com/50" alt="WACOM Americas"></a></div>
        <div class="company">WACOM Americas</div>
        <div class="location">Portland, OR</div>
        <div class="title">Web Content Specialist </div>
        <div class="dates"> May 2016 - August 2016</div>
        <div class="technologies"><span class="technology-title">Technologies:</span> Sitecore, Insite, HTML5, CSS3,
          XML, JIRA, Atlassian, Confluence, ZURB Foundation, Bootstrap </div>
        <div class="work-body">
          &bull; Managed content creation and implementation of new products, promotions and/or updates via Sitecore.
          <br><br>
          &bull; Responsible for updating & bug fixes to all language versions of the site.<br><br>
          &bull; Implemented changes via CMS's Sitecore/Insite and priority based on JIRA and agile workflow best
          practices.<br><br>
          &bull; Convert correct translations across all language versions of the website. <br><br>
          &bull; Used agile/scrum methodologies working in short sprints on a globally based team. <br><br>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="work-header">
        <div class="icon"><a href="#" target="_blank"><img src="https://via.placeholder.com/50" alt="PLUS QA"></a></div>
        <div class="company">PLUS QA</div>
        <div class="location">Portland, OR</div>
        <div class="title">QA Analyst</div>
        <div class="dates">March 2016 - June 2016</div>
        <div class="technologies"><span class="technology-title">Technologies:</span> Mac, Windows, Linux, Andriod,
          iOS, JIRA, Atlassian, Confluence, TestLodge, SDK's, Trello </div>
        <div class="work-body">
          &bull; Develop test plans, test cases, test scripts and test reports on multiple projects of varying size.
          <br><br>
          &bull; Installing SDK’s, running through scripts while reporting and fixing bugs. <br><br>
          &bull; Utilized JIRA, Trello & TestLodge in conjunction to prioritize project management priorities. <br><br>
          &bull; Increased familiarity and proficiency across a plethora of mobile devices and desktop/laptops while
          testing.<br><br>
          &bull; Validate that user expectations are achieved during the testing process.<br><br>
          &bull; Review user requirements documents to ensure that requirements are testable.<br><br>
          &bull; Responsible for executing end-to-end testing to ensure functionality, performance,and compatibility so
          that all the objectives are met and that the solution worked as expected.<br><br>
        </div>
      </div>
    </div>

    <div class="wrapper">
      <div class="work-header">
        <div class="icon"><a href="#" target="_blank"><img src="https://via.placeholder.com/50" alt="Multnomah County"></a></div>
        <div class="company">Multnomah County</div>
        <div class="location">Portland, OR</div>
        <div class="title">Web Developer</div>
        <div class="dates">January 2016 - March 2016</div>
        <div class="technologies"><span class="technology-title">Technologies:</span> PHP, Drupal, Phonegap, Cordova,
          HTML5, CSS3, JavaScript, Bootstrap </div>
        <div class="work-body">
          &bull; Worked with Drupal/PHP to develop and beta test early stages of the application while eliminating
          bugs.<br><br>
          &bull; Member of a large team that used agile methodologies for the entire processes from prototype to
          publication.<br><br>
          &bull; Designed multiple screen flows in conjunction with use cases to streamline the user experience.<br><br>
          &bull; Created wireframes while optimizing the number & order of screens to reach each final goal with the
          most efficiency.<br><br>
          &bull; Produced a compatible web version of the application for non mobile users with the same style guide
          and look/feel. <br><br>
        </div>
      </div>
    </div>

    <!-- // 2015  -->
    <br><br>
    <hr>
    <div class="year">2015</div>
    <hr>
    <br><br>
    <!-- // 2015 -->

    <br><br>
    <div class="project">
      <div class="project-title">
        Walk-in's Welcome
      </div>
      <div class="project-date">November 2015</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        Taco Diario
      </div>
      <div class="project-date">September 2015</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <div class="education">
      <div class="school">Epicodus</div>
      <div class="school-link">Image and Link</div>
      <div class="school-dates">August 2015 - December 2015</div>
      <div class="school-focus">PHP, Drupal, Wordpress & JavaScript</div>
      <div class="school-info">Epicodus is a full-time, in-person code school in Portland Oregon. As a graduate I
        gained skills with PHP and Drupal/Wordpress while learning the benefits of pair-programming and implementation
        of methodologies such as OOP & TDD.</div>
    </div>

    <!-- // 2014   -->
    <br><br>
    <hr>
    <div class="year">2014</div>
    <hr>
    <br><br>
    <!-- // 2014 -->


    <!-- <div class="year">2014</div> -->
    <div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div>
    <div class="event">EDUCATION - BOOTSTRAP/FOUNDATION</div>
    <div class="event">EDUCATION - WORDPRESS</div>

    <div class="year">2013</div>
    <div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div>

    <br><br>
    <div class="project">
      <div class="project-title">
        Periodic Table Remake
      </div>
      <div class="project-date">2013</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <br><br>
    <div class="project">
      <div class="project-title">
        BSFB
      </div>
      <div class="project-date">2013</div>
      <div class="project-icon">Image and Link</div>
      <div class="project-info">
        project desc
      </div>
      <div class="technologies"><span class="technology-title">Technologies:</span> test</div>
    </div>
    <br><br>

    <!-- <div class="event">PROJECT - PTOE</div> -->
    <!-- <div class="event">PROJECT - BSFB</div> -->
    <div class="event">EDUCATION - ABELTON</div>

    <div class="year">2012</div>
    <div class="event">EDUCATION - HTML/SCC + DREAMWEAVER</div>
    <div class="event">EDUCATION - ABELTON, LOGIC PRO</div>
    <div class="event">MOVE - PORTLAND</div>

    <div class="year">2011</div>
    <div class="event">CONFERENCE - WORDCAMP PHOENIX 11- FEB</div>
    <!-- <div class="event">WORK - CASALINO CHIRO SOCIAL MEDIA</div> -->
    <div class="wrapper">
      <div class="work-header">
        <div class="icon"><a href="#" target="_blank"><img src="https://via.placeholder.com/50" alt="Multnomah County"></a></div>
        <div class="company">Casalino Chiropractic</div>
        <div class="location">Phoenix, AZ</div>
        <div class="title">Web Developer & Social Media Management</div>
        <div class="dates">January 2009 - August 2011</div>
        <div class="technologies"><span class="technology-title">Technologies:</span> test </div>
        <div class="work-body">
          &bull; test
        </div>
      </div>
    </div>
    <div class="event">WORK - YCOA </div>

    <div class="year">2010 & BEFORE</div>
    <div class="event">CONFERENCE - WORDCAMP PHOENIX 10 - FEB</div>
    <div class="event">PROJECT - PHOENIX SUNS FREE THROW</div>
    <div class="event">EDUCATION - ARIZONA STATE - GRAPHIC DESIGN</div>
    <div class="event">EDUCATION - SCC - AUDIO PRODUCTION TECHNOLOGY</div>
    <div class="event">EDUCATION - SCC - MEN'S SOCCER </div>
    <div class="event">SAN MARINO CUP - ITALY </div>2
    <div class="event">ARIZONA</div>


    <br><br>
    <!-- // Profiles  -->
    <br><br>
    <hr>
    <div class="year">PROFILES</div>
    <hr>
    <br><br>
    <!-- // Profiles -->

    <div class="profiles">
      <a href="https://bencasalino.com" target="_blank">Portfolio</a>
      <a href="https://bencasalino.com" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Portfolio Website"></a>
      <br><br>
      <a href="https://www.linkedin.com/in/bencasalino/" target="_blank">LinkedIn Profile</a>
      <a href="https://www.linkedin.com/in/bencasalino/" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino LinkedIn Profile"></a>
      <br><br>
      <a href="mailto:bencasalino@gmail.com" target="_blank">Email</a>
      <a href="mailto:bencasalino@gmail.com" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Email"></a>
      <br><br>
      <a href="https://github.com/bencasalino" target="_blank">Github</a>
      <a href="https://github.com/bencasalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Github Account"></a>
      <br><br>
      <a href="https://stackoverflow.com/users/5225450/ben-casalino" target="_blank">Stack Overflow</a>
      <a href="https://stackoverflow.com/users/5225450/ben-casalino" target="_blank"><img src="https://via.placeholder.com/50"
          alt="Ben Casalino StackOverflow Profile"></a>
      <br><br>
      <a href="https://dribbble.com/bencasalino" target="_blank">Dribble</a>
      <a href="https://dribbble.com/bencasalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino Dribble Profile"></a>
      <br><br>
      <a href="https://www.freecodecamp.org/bencasalino" target="_blank">FreeCodeCamp</a>
      <a href="https://www.freecodecamp.org/bencasalino" target="_blank"><img src="https://via.placeholder.com/50" alt="Ben Casalino FreeCodeCamp Profile"></a>
      <br><br>
      <a href="https://talent.galvanize.com/students/2070/jobs" target="_blank">Galvanize Talent</a>
      <a href="https://talent.galvanize.com/students/2070/jobs" target="_blank"><img src="https://via.placeholder.com/50"
          alt="Ben Casalino Galvanize Talent Profile"></a>
      <br><br>
      <a href="https://docs.google.com/document/d/1M2Kbg8bKQ5oYH5Y9BeNV2zSEtaKQt8x-qlGmOWLMzSo/edit?usp=sharing" target="_blank">Resume
        via Google Drive</a>
      <a href="https://docs.google.com/document/d/1M2Kbg8bKQ5oYH5Y9BeNV2zSEtaKQt8x-qlGmOWLMzSo/edit?usp=sharing" target="_blank"><img
          src="https://via.placeholder.com/50" alt="Ben Casalino Resume via Google Drive"></a>
      <br><br>
      <a href="https://www.instagram.com/benoftheuniverse/" target="_blank">Instagram</a>
      <a href="https://www.instagram.com/benoftheuniverse/" target="_blank"><img src="https://via.placeholder.com/50"
          alt="Ben Casalino Instagram"></a>
      <br><br>
      <a href="https://www.builtincolorado.com/member/bencasalino/65239" target="_blank">Built in Colorado</a>
      <a href="https://www.builtincolorado.com/member/bencasalino/65239" target="_blank"><img src="https://via.placeholder.com/50"
          alt="Ben Casalino Built in Colorado Profile"></a>
      <br><br>
      <a href="https://trailhead.salesforce.com/en/me/00550000008DvVdAAK" target="_blank">Trailhead Profile</a>
      <a href="https://trailhead.salesforce.com/en/me/00550000008DvVdAAK" target="_blank"><img src="https://via.placeholder.com/50"
          alt="Trailhead Profile"></a>
      <br><br>
      <a href="http://certifications.digitalmarketer.com/bencasalino/" target="_blank">DigitalMarketer Certifications</a>
      <a href="http://certifications.digitalmarketer.com/bencasalino/" target="_blank"><img src="https://via.placeholder.com/50"
          alt="Digital Marketer Certifications"></a>
      <br><br>




      <!-- <div class="event">CONFERENCE - DENVER START UP WEEK 2018</div> -->
      <!-- <div class="event">EDUCATION - TRAILHEAD/SALESFORCE - JUNE</div>
<div class="event">PROJECT - RMCUP API - MAY </div>
<div class="event">EDUCATION - GALVANIZE - GRADUATION - APRIL </div>
<div class="event">PROJECT - CSG CAPSTONE - MARCH</div>
<div class="event">PROJECT - SOCIAL CLOUD - FEB</div>
<div class="event">PROJECT - SFDOC - JAN</div>

<div class="year"><strong></strong></div>
<div class="event">PROJECT - PIANO JS - DEC</div>
<div class="event">PROJECT - TF - NOV</div>
<div class="event">EDUCATION - GALVANIZE WDI OCT</div>
<div class="event">CONFERENCE - DENVER START UP WEEK 2017</div>
<div class="event">CONFERENCE - DM SUMMIT - MAR</div>

<div class="year">2016</div>
<div class="event">CONFERENCE - DENVER START UP WEEK 2016</div>
<div class="event">WORK - CLYMB DIGITAL MARKETING OCT</div>
<div class="event"> COLORADO</div>
<div class="event">WORK - WACOM AMERICAS JUNE</div>
<div class="event">WORK - PLUS QA - MAR</div>
<div class="event">WORK - MULTNOMAH COUNTY - JAN</div>

<div class="year">2015</div>
<div class="event">PROJECT - DAILY TACO - NOV</div>
<div class="event">PROJECT - WIW - NOV</div>
<div class="event">EDUCATION - EPICODUS</div>
<div class="event">PROJECT - BENOFTHEUNIVERSE</div>

<div class="year">2014</div>
<div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div>
<div class="event">EDUCATION - BOOTSTRAP/FOUNDATION</div>
<div class="event">EDUCATION - WORDPRESS</div>

<div class="year">2013</div>
<div class="event">CONFERENCE - PORTLAND DEVELOPER WEEK - MAR</div>
<div class="event">PROJECT - PTOE</div>
<div class="event">PROJECT - BSFB</div>
<div class="event">EDUCATION - ABELTON</div>

<div class="year">2012</div>
<div class="event">EDUCATION - HTML/SCC + DREAMWEAVER</div>
<div class="event">EDUCATION - ABELTON, LOGIC PRO</div>
<div class="event">MOVE - PORTLAND</div>

<div class="year">2011</div>
<div class="event">CONFERENCE - WORDCAMP PHOENIX 11- FEB</div>
<div class="event">WORK - CASALINO CHIRO SOCIAL MEDIA</div>
<div class="event">WORK - YCOA </div>

<div class="year">2010 & BEFORE</div>
<div class="event">CONFERENCE - WORDCAMP PHOENIX 10 - FEB</div>
<div class="event">PROJECT - PHOENIX SUNS FREE THROW</div>
<div class="event">EDUCATION - ARIZONA STATE - GRAPHIC DESIGN</div>
<div class="event">EDUCATION - SCC - AUDIO PRODUCTION TECHNOLOGY</div>
<div class="event">EDUCATION - SCC - MEN'S SOCCER </div>
<div class="event">SAN MARINO CUP - ITALY </div>
<div class="event">ARIZONA</div> -->
</template>

<script>
  export default {
    name: "Resume"
  };
</script>

<style scoped>
  #container {
    padding: 100px 50px 100px 50px;
    background-color: white;
  }

  .bold {
    font-weight: 900;
  }

  .logo {
    max-width: 50px;
    max-height: 50px;
  }

  .year {
    padding: 10px 0 10px 0;
    font-size: 30px;
    text-align: center;
  }

  .event {
    padding: 10px 0 10px 0;
    font-weight: 900;
  }

  .desc {
    margin-left: 20px;
    padding-bottom: 20px;
  }

  .work {
    background-color: black;
    color: white;
    /* padding-left: 10px; */
    margin-bottom: 10px;
    /* width: 33%; */
    text-align: center;
  }
</style>